<!--ejs template for the page layout which include patials-->
<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
<body>
   <div class="container">
    <div class="headerandnavigation">
        <%- include ('../partials/header') %>
        <%- include ('../partials/navbar') %>
    </div>
    <main>
        <%- body  %>
    </main>
    <%- include ('../partials/footer') %>
   </div>
</body>
</html>